on:
  pull_request:
    types:
      - closed
    branches:
      - main

name: Test Coverage

jobs:
  if_merged:
    if: github.event.pull_request.merged == true
    build:
      name: Export test to Coveralls
      runs-on: ubuntu-latest
      
      steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Use Node.js 16.x
        uses: actions/setup-node@v3
        with:
          node-version: 16.x

      - name: Install dependencies
        run: npm ci

      - name: Run Test
        run: npm run coverage

      - name: Coveralls GitHub Action
        uses: coverallsapp/github-action@v2.3.6
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}